{% load static %}
<div class="up_wrapper">
    <main class="upload">
        <div class="form">
            <form action="{% url 'app:uploadpost' %}" autocomplete="off" enctype="multipart/form-data" method="post">
                <div class="datawrapper">
                    <div class="data">
                        <div class="thum">
                            <label class="label">
                                <input type="file" id="file" accept="image/png, image/jpeg, image/gif" name="uploadimg" class="modal_uploadimg">
                                <img class="preview" id="modal_preview" src="{% static 'img/thum_back.png' %}" width="60px" height="60px" style="object-fit: cover;">
                            </label>
                        </div>
                    </div>
                    <div class="data">
                        <div class="text_length">
                            <label>一言</label>
                            <p class="modal_text_count">300</p>
                        </div>
                        <textarea class="modal_photo_form" name="text"></textarea>
                    </div>
                </div>
                <div class="data_submit">
                    <input type="submit" value="アップロード" class="uploadsubmit">
                    <div class="modal_data_submit_mask">
                        <div class="submit_mask"></div>
                    </div>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </main>
</div>