.upload {
    width: inherit;
    margin-bottom: 10px;
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 5px;
    box-sizing: border-box;
}

/* .error {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffbfbf;
    border: solid 1px #ff0000;
    color: #ff0000;
    font-size: 14px;
    border-radius: 5px;
    visibility: hidden;
} */

.error_open {
    visibility: visible;
}

.modal_upload .upload {
    border: none;
    margin: 0;
}

.form form {
    width: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: none;
}

.datawrapper {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal_upload .datawrapper {
    padding: 0;
}

.data {
    width: 100%; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.data input[type="file"] {
    width: 90%;
    align-self: center;
    margin: 0;
    visibility: hidden;
}


.thum {
    width: 90%;
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.thum .label {
    width: 60px;
    align-self: flex-start;
}

.dataimg {
    width: auto;
    margin: 0;
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}


.preview {
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-start;
}

.data label {
    width: 90%;
    align-self: center;
}


.data .text_length {
    width: 90%;
    align-self: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.data .text_length p { 
    margin: 0;
}

.data textarea {
    width: 90%;
    height: 80px;
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    border: solid 1px #ccc;
    resize: none;
    align-self: center;
}


.text {
    width: inherit;
    height: 35px;
    font-size: 20px;
    border-radius: 5px;
    border-style: none;
    border: solid 1px #ccc;
    align-self: center;
}

.data_submit {
    margin: 10px 0 0 0;
    width: 90%;
    align-self: center;
    display: flex;
    justify-content: flex-end;
}

.data_submit_mask {
    position: absolute;
    width: auto;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    z-index: -1;
}

.data_submit .uploadsubmit {
    margin: 0;
    background-color: #000;
    width: 120px;
    height: 40px;
    font-size: 10px;
    color: #fff;
    font-weight: bolder;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit_mask {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
    width: 120px;
    height: 40px;
    font-size: 10px;
    font-weight: bolder;
    border-style: none;
    border-radius: 5px;
}

.mask_open {
    z-index: 2;
}
