{% load static %}
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>二郎スタ</title>
        <link rel="stylesheet" href="{% static 'css/user/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/user/user.css' %}">
        <link rel="stylesheet" href="{% static 'css/setting/setting.css' %}">
        <link rel="stylesheet" href="{% static 'css/user/upload.css' %}">
        <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    </head>
    <body class="setting_wrapper">
        <div class="wrapper">
        {% include  "app/header.html" %}
            <div class="up-modal">
                <div class="modal_upload">
                    <div class="closeBtn upcloseBtn"><img src="/static/img/close.png" alt="閉じる"></div>
                    {% include  "app/modal_upload.html" %}
                </div>
            </div>
            <div class="p-modal">
                <div class="final">
                    <div class="closeBtn"><img src="/static/img/close.png" alt="閉じる"></div>
                    <form action="{% url 'app:setting:unregister' %}" enctype="multipart/form-data" method="POST" class="unregisterform">
                        <div class="pw">
                            <label>
                                <p>本当に退会しますか？</p>
                                <p>退会する場合は、パスワードを入力してください。</p>
                            </label>
                            <input type="password" name="pw" class="text">
                        </div>
                        <input type="submit" value="退会する" class="submit taikai">
                        {% csrf_token %}
                    </form>
                </div>
            </div>
            <main class="setting">
                <div class="side">
                    <div class="settingmenu">
                        <a href="/app/setting/">ユーザ情報変更</a>
                        <a href="/app/setting/password" class="selected">パスワード変更</a>
                    </div>
                    <div class="settingmenu logoutButton">
                        <a href="/app/userAuth/logout">ログアウト</a>
                    </div>
                </div>
                <div class="change">
                    {% if error  %}
                        <div class="error">
                            {% for msg in error %}
                            <p>{{ msg }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if sucsess %}
                        <div class="sucsess">
                            <p>{{ sucsess }}</p>
                        </div>
                    {% endif %}
                    <div class="form form_wrapper">
                        <h1>パスワード変更</h1>
                        <form action="{% url 'app:setting:postpassword' %}" enctype="multipart/form-data" method="POST">
                            <div class="datawrapper">
                                <div class="data_setting">
                                    <label>新しいパスワード</label>
                                    <input type="password" name="pw" class="text">
                                </div>
                                <div class="data_setting">
                                    <label>パスワードを再入力</label>
                                    <input type="password" name="pw2" class="text">
                                </div>
                            </div>
                            <input type="submit" value="パスワードを変更" class="submit"><br>
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </main>
        </div>
        <script src="{% static 'js/upload.js' %}"></script>
        <script>
            $('.p-modalBtn').click(function() {
                $('.p-modal').addClass('is-open');
            })

            $('.closeBtn').click(function() {
                $('.p-modal').removeClass('is-open');
            })
            
            $('.uploadBtn').click(function() {
                $('.up-modal').addClass('is-open');
            })

            $('.upcloseBtn').click(function() {
                $('.up-modal').removeClass('is-open');
            })
        </script>
    </body>
</html>