{% load static %}
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>二郎スタ</title>
        <link rel="stylesheet" href="{% static 'css/userAuth/createuser.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <img src="{% static 'img/jirosta_logo.png' %}">
            {% if error  %}
                <div class="error">
                    {% for msg in error %}
                    <p>{{ msg }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="form">
                <h1>プロフィール登録</h1>
                <form action="{% url 'app:userAuth:create' %}" method="POST">
                    <div class="datawrapper">
                        <div class="data">
                            <label>ニックネーム</label>
                            <input type="text" name="username" class="text">
                        </div>
                        <div class="data">
                            <label>自己紹介</label>
                            <textarea name="profile"></textarea>
                        </div>
                    </div>
                    <input type="submit" value="登録"><br>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </body>
</html>